@import "./vars";

.contact {
  margin-top: var(--section-margin);
  background-color: var(--grey-bg);
  border-radius: var(--border-radius);
  padding-top: 7rem;
  padding-bottom: 4rem;

  .contact-title {
    font-size: 2.5rem;
    color: var(--grey);
  }

  .arrow-btn {
    margin-top: 1rem;
  }

  .footer {
    margin-top: 7rem;

    &__inner {
      position: relative;
      padding-top: 4rem;
      border-top: 1px solid var(--stroke);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 4rem;
    }

    .footer-list {
      li {
        margin-bottom: 0.5rem;
        transition: opacity 0.2s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .copyright {
      color: var(--grey);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 400px) {
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
    .footer__inner {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
    .copyright {
      position: static !important;
    }
  }
}
