.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .theme-switch {
    background-color: white;
    height: 36px;
    width: 74px;
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    .circle {
      height: 30px;
      width: 30px;
      background-color: $black;
      border-radius: 2rem;
      position: absolute;
      left: 4px;
      transition: transform 0.1s ease-out;
    }

    img {
      max-width: 24px;
      max-height: 24px;
      position: relative;
      pointer-events: none;

      &:nth-child(1) {
        left: 7px;
      }
      &:nth-child(2) {
        right: -17px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--white);
  }

  .burger-menu {
    width: fit-content;
    z-index: 3;
    cursor: pointer;

    .line {
      min-width: 35px;
      max-width: 35px;
      background-color: var(--white);
      height: 2px;
      transition: transform 0.4s ease;

      &:nth-child(2) {
        margin-top: 8px;
      }
    }
  }

  .active-burger {
    box-sizing: content-box;
    height: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .line {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
        margin-top: -2px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .header {
    .right {
      .header-list,
      .theme-switch {
        display: none;
      }
    }
  }
}
