@import "./vars";

.loading {
  z-index: 10;
  .logo-loader,
  .sublogo-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .logo-loader {
    z-index: 5;
  }

  .sublogo-loader {
    z-index: 4;
    background-color: $white;
    .logo {
      color: $black;
    }
  }

  .logo-wrapper {
    overflow: hidden;
    color: $white;
    opacity: 0;
  }

  .logo {
    font-size: 2rem;
  }
}
