$black: #101010;
$white: #fff;

:root {
  --black: #101010;
  --grey-bg: #171717;
  --stroke: #363636;
  --white: #fff;
  --white-hover: #cbcbcb;
  --red: #cc0000;
  --grey: #808080;
  --border-radius: 14px;
  --font: "Neue Montreal", "Inter", "sans-serif";
  --section-margin: 120px;
}
