@import "../../shared/styles/normalize";
@import "../../shared/styles/vars";
@import "../../shared/styles/header";
@import "../../shared/styles/contact";
@import "../../shared/styles/loading";
@import "../../shared/styles/menu";

.contact-form {
  margin-top: 2rem;
  background-color: var(--grey-bg);
  border-radius: var(--border-radius);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .contact-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .error-input {
    border: 1px solid var(--red);
    box-shadow: rgb(204, 0, 0, 0.3) 0px 2px 8px 0px;
  }

  .input {
    margin-top: 0.6rem;
    padding: 1.1em 1.5em;
    background-color: rgba(255, 255, 255, 0.05);
    width: 400px;
    border-radius: 4px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  .contact-btn {
    cursor: pointer;
    margin-top: 1rem;
    width: 400px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 4px;
    transition: background 0.2s linear;
    max-height: 56px;
    min-height: 56px;

    .inner {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .status {
      display: none;
      opacity: 0;
      align-items: center;
      gap: 0.5rem;
      color: white;
    }

    &:hover {
      background-color: var(--white-hover);
    }
  }

  .loader {
    border: 4px solid var(--grey);
    border-top: 4px solid var(--black);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
    opacity: 1;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.contact {
  margin-top: 2rem;
}
