@import "./normalize";
@import "./variables";

.menu-mobile {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  color: $white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 5%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.2s linear;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-list {
    font-size: 3rem;

    li {
      margin-bottom: 1rem;
    }
  }

  .link-list {
    font-size: 1rem;
    margin-bottom: 2rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .phone {
    font-size: 2rem;
  }
}

.active-menu {
  opacity: 1;
  pointer-events: all;
}
