$white: #fff;
$white-hover: #f1f1f1;
$black: #121212;
$black-hover: #1e1e1e;
$stroke: #dadde1;
$stroke-dark: #363636;
$primary: #bef94f;
$primary-hover: #eb9737;
$bg-grey: #f0f0f0;
$grey: rgb(18, 18, 18, 0.6);
$light: rgb(255, 255, 255, 0.6);
$font: "HelveticaNeueCyr", "sans-serif";
$font-primary: "Silk Serif", "sans-serif";
$transition: 0.2s linear;
$grid: 3fr 4fr 4fr;
